<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knu.library.repository.MemberMapper">
    <insert id="save">
        insert into member
        values (#{id}, #{pw}, #{name})
    </insert>

    <select id="findById" resultType="Member">
        select * from member where id=#{id}
    </select>

    <select id="findUserBooks" resultType="UserBook">
        select * from book where on_rent=true and userid=#{userid}
    </select>

    <update id="returnBook">
        update book set on_rent=false where id=#{bookId}
    </update>

    <select id="findCondName" resultType="UserBook">
        select * from book where title like concat('%',#{title}, '%')
    </select>
    <select id="findCondId" resultType="UserBook">
        select * from book where id=#{id}
    </select>
</mapper>