<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서 목록 조회 화면</title>
    <script>
        function rentBook(books){
            if (confirm("[ID:"+books.id+"] "+books.title+" 책을 대출하시겠습니까?") == true){    //확인
                // location.href="rent?bookId="+books.id;
                location.href="/bookList";
            }else{   //취소
                return;
            }
        }
    </script>
</head>
<body>
<div class="content" style="text-align:center">
    <h2 class="tit">KNU 도서관리시스템</h2>
    <fieldset>
        <div style="text-align: right; font-weight: bold; font-size: 1.2em" th:text="|회원 이름: ${member.name}|">회원 이름: </div>
        <div style="text-align: right">
            <button type="button" style="display:inline;width:90px;height:30px;font-weight:bold"
                    th:onclick="|location.href='@{/myPage}'|">마이페이지</button>
            <form style="display:inline" th:action="@{/logout}" method="post">
            <button type="submit"
                    style="width:70px;height:30px;font-weight:bold">
                로그아웃
            </button>
            </form>
        </div>
        <h1 class="tit">도서 전체 목록</h1>
        <table border="1" width="50%" height="60" boardcolor="black" align="center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">제목</th>
                <th scope="col">저자</th>
                <th scope="col">출판사</th>
                <th scope="col">대출여부</th>
                <th th:if="${member.id} == 'test1'" scope="col">관리자 기능</th>
            </tr>
            <tr th:each="books: ${books}">
                <td th:text="${books.id}"></td>
                <td th:text="${books.title}"></td>
                <td th:text="${books.author}"></td>
                <td th:text="${books.publisher}"></td>
                <td style="width:140px;text-align:left" th:if="${books.onRent} == '대출가능'" >
                    <form th:action="@{/bookList/{bookId}/rent(bookId = ${books.id})}" method="post">
                        대출가능
                        <button type="button" style="display:inline;width:70px;height:30px;font-weight:bold;float:right"
                                th:onclick="rentBook([[${books}]])">대출</button>
                    </form>
                </td>
                <td style="text-align:left" th:if="${books.onRent} == '대출불가'">대출불가</td>
                <td style="width:150px" th:if="${member.id} == 'test1'"> <!-- 추후 관리자 id로 수정 예정 -->
                    <button type="submit"
                            style="width:70px;height:30px;font-weight:bold"
                            th:onclick="|location.href='@{/bookList/{bookId}/update}'|">
                        수정
                    </button>
                    <button type="submit"
                            style="width:70px;height:30px;font-weight:bold">
                        삭제
                    </button>
                </td>
            </tr>
        </table>
        <button th:if="${member.id} == 'test1'" type="submit"
                style="width:100px;height:45px;font-weight:bold;font-size:large;float:right">
            도서 추가
        </button>
    </fieldset>
</div>
</body>
</html>