<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>도서 대출 화면</title>
</head>
<body>
<div class="content" style="text-align:center">
  <h2 class="tit">KNU 도서관리시스템</h2>
  <fieldset>
    <div style="text-align: right; font-weight: bold; font-size: 1.2em" th:text="|회원 이름: ${member.name}|">회원 이름: </div>
    <div style="text-align: right">
      <form th:action="@{/logout}" method="post">
        <button type="submit"
                style="width:70px;height:30px;font-weight:bold">
          로그아웃
        </button>
      </form>
    </div>
    <h2>도서 대출</h2>
    <h4>아래 도서를 대출하시겠습니까?</h4>

<!--    <form th:action="@{/bookList/{bookId}/rent(bookId = ${book.id})}" th:method="post">-->
    <table border="1" width="50%" height="60" boardcolor="black" align="center">
      <tr>
        <th scope="col">ID</th>
        <td th:text="${book.id}"></td>
      </tr>
      <tr>
        <th scope="col">제목</th>
        <td th:text="${book.title}"></td>
      </tr>
      <tr>
        <th scope="col">저자</th>
        <td th:text="${book.author}"></td>
      </tr>
      <tr>
        <th scope="col">출판사</th>
        <td th:text="${book.publisher}"></td>
      </tr>
    </table>
    <p></p>
    <form th:action="@{/bookList}" method="post">
      <button type="submit" style="width:70px;height:30px;font-weight:bold">네</button>
    </form>

<!--    </form>-->
  </fieldset>
</div>
</body>
</html>
